<html>
<body>
<div>
    <a href="/">MAIN PAGE</a>
</div>
<div>Tasks:</div>

<div>
    <form action="addTask" method="post">
        <input type= "number" name= "tasklist_id" placeholder= "tasklist_id:" />
        <input type= "text" name= "name" placeholder= "name:" />
        <input type= "text" name= "description" placeholder= "description:" />
        <input type= "date" name= "date" placeholder= "date:" />
        <input type= "number" name= "priority" placeholder= "priority:" />
        <button type= "submit">add</button>
    </form>
</div>

<table border="1" cellspacing="0">
    <tr align="center">
        <td>task_id</td>
        <td>tasklist_id</td>
        <td>name</td>
        <td>description</td>
        <td>date</td>
        <td>priority</td>
        <td>created</td>
    </tr>

    {{#tasks}}
    <tr align="center">
        <td>{{task_id}}</td>
        <td>{{tasklist_id}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{date}}</td>
        <td>{{priority}}</td>
        <td>{{created}}</td>
    </tr>
    {{/tasks}}

</table>

<div><br /></div>

<div>
    <form action= "removeTask" method="post">
        <input type= "number" name= "id" placeholder= "id" />
        <button type= "submit">remove</button>
    </form>
</div>

</body>
</html>